# backend
/apps/backend-app/podelim/target/
.vscode/

/apps/backend-app/podelim/target/*.class


# frontend
# dependencies
/apps/frontend-app/node_modules
/apps/frontend-app/.pnp
/apps/frontend-app/.pnp.*
/apps/frontend-app/.yarn/*
!/apps/frontend-app/.yarn/patches
!/apps/frontend-app/.yarn/plugins
!/apps/frontend-app/.yarn/releases
!/apps/frontend-app/.yarn/versions
/apps/frontend-app/README.md

# testing
/apps/frontend-app/coverage

# next.js
/apps/frontend-app/.next/
/apps/frontend-app/out/

# production
/apps/frontend-app/build

# misc
/apps/frontend-app/.DS_Store
/apps/frontend-app/*.pem

# debug
/apps/frontend-app/npm-debug.log*
/apps/frontend-app/yarn-debug.log*
/apps/frontend-app/yarn-error.log*
/apps/frontend-app/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
/apps/frontend-app/.env*

# vercel
/apps/frontend-app/.vercel

# typescript
/apps/frontend-app/*.tsbuildinfo
/apps/frontend-app/next-env.d.ts


# mobile
.DS_Store
/.idea/
*.log
/apps/mobile-app/build/
/apps/mobile-app/app/build/

# Локальные настройки (путь к SDK и т.д.)
/apps/mobile-app/local.properties

# Кэш Gradle
/apps/mobile-app/.gradle/

# Файлы IDE (специфичные для проекта Android Studio)
/apps/mobile-app/.idea/
/apps/mobile-app/*.iml
/apps/mobile-app/app/*.iml

# Скомпилированные приложения
*.apk
*.aab
*.ap_
*.apks

# Промежуточные файлы сборки
*.dex
*.class

# Файлы хранилища ключей (не должны быть в репозитории)
*.jks
*.keystore

# Папки для нативной сборки
/apps/mobile-app/.externalNativeBuild/
/apps/mobile-app/.cxx/

# Файлы сервисов Google (если они не должны быть в репозитории)
/apps/mobile-app/app/google-services.json

# Папка для скриншотов из Android Studio
/apps/mobile-app/captures/

# Временные файлы редактора навигации
/apps/mobile-app/.navigation/
